trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: DockerInstaller@0
  inputs:
    dockerVersion: 'latest'

- script: |
    docker build -t portfolio-app .
  displayName: 'Build Docker Image'
